.Report {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 90%;
  }
  
  .Report td, .Students th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .Report tr:nth-child(even){background-color: #f2f2f2;}
  
  .Report tr:hover {background-color: #ddd;}
  
  .Report th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #2383dd;
    color: white;
  }